In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
data=pd.read_csv("Rwanda Maize Production 2018.csv")
data

,District,S A Production (Ton),S B Production (Ton),Total Production (Ton)
0,Nyarugenge,374,275,649
1,Gasabo,"4,851",1797,"6,648"
2,Kicukiro,"1,570",504,"2,074"
3,Nyanza,"7,875",2495,"10,370"
4,Gigasara,"16,057",1922,"17,979"
5,Nyaruguru,"4,613",453,"5,066"
6,Huye,"4,305",644,"4,949"
7,Nyamagabe,"2,909",966,"3,875"
8,Ruhango,"1,898",962,"2,860"
9,Muhanga,"2,064",458,"2,522"
10,Kamonyi,"6,555",1634,"8,189"
11,Karongi,"5,732",468,"6,200"
12,Rutsiro,"9,852",2599,"12,451"
13,Rubavu,"5,394",1354,"6,748"
14,Nyabihu,"4,902",1706,"6,608"
15,Ngororero,"6,111",892,"7,003"
16,Rusizi,"7,946",640,"8,586"
17,Nyamasheke,"3,627",315,"3,942"
18,Rulindo,"9,355",440,"9,795"
19,Gakenke,"15,903",834,"16,737"
20,Musanze,"9,378",1501,"10,879"
21,Burera,"9,467",2515,"11,982"
22,Gicumbi,"11,005",2909,"13,914"
23,Rwamagana,"15,889",2166,"18,055"
24,Nyagatere,"50,793",22787,"73,580"
25,Gatsibo,"39,852",12249,"52,101"
26,Kayonza,"20,181",5546,"25,727"
27,Kirehe,"21,438",4852,"26,290"
28,Ngoma,"23,020",1947,"24,967"
29,Bugesera,"10,561",13703,"24,264"
30,Total,"333,477",91533,"425,010"

In [4]:
data.head()

,District,S A Production (Ton),S B Production (Ton),Total Production (Ton)
0,Nyarugenge,374,275,649
1,Gasabo,"4,851",1797,"6,648"
2,Kicukiro,"1,570",504,"2,074"
3,Nyanza,"7,875",2495,"10,370"
4,Gigasara,"16,057",1922,"17,979"

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   District                31 non-null     object
 1    S A Production (Ton)   31 non-null     object
 2   S B Production (Ton)    31 non-null     int64
 3   Total Production (Ton)  31 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.1+ KB

In [6]:
data.tail()

,District,S A Production (Ton),S B Production (Ton),Total Production (Ton)
26,Kayonza,"20,181",5546,"25,727"
27,Kirehe,"21,438",4852,"26,290"
28,Ngoma,"23,020",1947,"24,967"
29,Bugesera,"10,561",13703,"24,264"
30,Total,"333,477",91533,"425,010"

In [8]:
data.isnull().sum()

District                  0
 S A Production (Ton)     0
S B Production (Ton)      0
Total Production (Ton)    0
dtype: int64

In [11]:
data=data.dropna()
data

,District,S A Production (Ton),S B Production (Ton),Total Production (Ton)
0,Nyarugenge,374,275,649
1,Gasabo,"4,851",1797,"6,648"
2,Kicukiro,"1,570",504,"2,074"
3,Nyanza,"7,875",2495,"10,370"
4,Gigasara,"16,057",1922,"17,979"
5,Nyaruguru,"4,613",453,"5,066"
6,Huye,"4,305",644,"4,949"
7,Nyamagabe,"2,909",966,"3,875"
8,Ruhango,"1,898",962,"2,860"
9,Muhanga,"2,064",458,"2,522"
10,Kamonyi,"6,555",1634,"8,189"
11,Karongi,"5,732",468,"6,200"
12,Rutsiro,"9,852",2599,"12,451"
13,Rubavu,"5,394",1354,"6,748"
14,Nyabihu,"4,902",1706,"6,608"
15,Ngororero,"6,111",892,"7,003"
16,Rusizi,"7,946",640,"8,586"
17,Nyamasheke,"3,627",315,"3,942"
18,Rulindo,"9,355",440,"9,795"
19,Gakenke,"15,903",834,"16,737"
20,Musanze,"9,378",1501,"10,879"
21,Burera,"9,467",2515,"11,982"
22,Gicumbi,"11,005",2909,"13,914"
23,Rwamagana,"15,889",2166,"18,055"
24,Nyagatere,"50,793",22787,"73,580"
25,Gatsibo,"39,852",12249,"52,101"
26,Kayonza,"20,181",5546,"25,727"
27,Kirehe,"21,438",4852,"26,290"
28,Ngoma,"23,020",1947,"24,967"
29,Bugesera,"10,561",13703,"24,264"
30,Total,"333,477",91533,"425,010"